.card-jobName {
    font-size: 18px;
}

.card-applicantName, .card-date {
    font-size: 12px;
}

.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    width: 92%;
}

.card:hover {
    cursor: pointer;
}