* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.manageJobContainer {
    margin: 100px auto 20px auto;
    padding: 20px;
    width: 70%;
}

.manageJobSelection {
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-bottom: 20px;
}

.manageJobContent {
    max-width: 1200px;
    margin: 0 auto;
}

.publishBtn {
    padding: 4px 8px;
    margin: 0 2px;
    border: none;
    border-radius: 4px;
    background-color: #2196f3;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

.closeBtn {
    padding: 4px 8px;
    margin: 0 2px;
    border: none;
    border-radius: 4px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

.publishBtn:disabled, .closeBtn:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.status-cell > span {
    border-radius: 15px;
    padding: 4px 8px;
}

.status-cell.active > span {
    background-color: lightgreen;
}

.status-cell.closed > span {
    background-color: lightgray;
}

.status-cell.draft > span {
    background-color: khaki;
}
